{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">  
  <h1>MUSIC COLLECTION</h1>

  <!-- JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
  <script src="{% static 'js/clouds.js' %}"></script>
  <script src="{% static 'js/music.js' %}"></script>   -->

  <p class="p">Welcome to MUSIC COLLECTION, your personal world of sounds!</p>
<body>
  <h2 class="h2">Dynamic content</h2>


  <div id="animation"></div>
  <div class="main">
    <div class="text-main">
      <p>Our music collection has the following record counts:</p>
      <ul>
        <li><strong>Tracks:</strong> {{ tracks }}</li>
        <li><strong>Genres:</strong> {{ genres }}</li>
        <li><strong>Artists:</strong> {{ artists }}</li>
        <li><strong>Albums:</strong> {{ albums }}</li>
      </ul>
    </div>
  </div>

  <h3 class="h3">Listen track</h3>
  
  <div id="controls">
    <audio id="audio" src="https://www.last.fm/ru/music/David+Wise/_/Stickerbrush+Symphony" controls></audio>


  <h2 class="favorite">Your favourite tracks &#x1f49b;</h2>
  <script src="{% static 'js/track.js' %}"></script>
</body>
  <body>
    <iframe align="top" frameborder="0" style="border:10px purple;width:100%;height:450px;" width="100%" height="450" src="https://music.yandex.ru/iframe/#playlist/linapush2002pushkareva/3">Слушайте <a href='https://music.yandex.ru/users/linapush2002pushkareva/playlists/3'>Мне нравится</a> — <a href='https://music.yandex.ru/users/linapush2002pushkareva'>linapush2002pushkareva</a> на Яндекс Музыке</iframe>
    
    <footer class="footer">
      <p>Music collection © 2023</p>
    </footer>
  </body>
{% endblock %}